[Unit]
Description=Python Journald to BigQuery logger
After=network-online.target

[Service]
ExecStart=/usr/bin/python -u /opt/pyjdbq/pyjdbq.py
Restart=always
User=pyjdbq

[Exec]
WorkingDirectory=~

[Install]
WantedBy=multi-user.target
