[Unit]
Description=Python Journald to BigQuery logger
After=syslog.target

[Service]
ExecStart=/usr/bin/python -u /opt/pyjdbq/pyjdbq.py
Restart=always
User=pyjdbq
WorkingDirectory=/opt/pyjdbq/

[Install]
WantedBy=multi-user.target
